@font-face {
    font-family: 'Bell';
    src: url('../fonts/bell.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #707071;
}

/* FONTS SIZE */
.heading {
    padding-bottom: 30px;
    color: #4d4d4d;
    font-weight: bold;
    text-transform: uppercase;
}

.heading--xl {
    color: #15263e;
    padding-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 1.5px;
}

.heading--large {
    font-size: 2.5rem;
    /* 3.5 */
}

.heading--medium {
    font-size: 2.5rem;
    padding-top: 30px;
}

.heading--small {
    font-size: 2.2rem;
}

.heading--xs {
    padding-top: 20px;
    font-size: 1.6rem;
    letter-spacing: .5px;
}

.small-text {
    font-size: 1.6rem;
    /* 1.8 */
}

.xs-text {
    font-size: 1.5rem;
    line-height: 200%;
}

.small-text--jobs {
    color: #a21af0;
    font-weight: bold;
}

/* GLOBAL CSS */

/*granatowy #15263e */
/* fioletowy #a21af0 */
/* różowy  #ff0072*/
.gradient {
    background: linear-gradient(45deg, #a21af0 25%, #ff0072 75%);
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.btn {
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 15px;
    font-size: 1.6rem;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

/*  icons */
.fa-mobile-alt,
.fa-map-marker-alt,
.fa-cogs,
.fa-rocket,
.fa-warehouse,
.fa-shipping-fast,
.fa-clipboard-list,
.fa-dolly-flatbed,
.fa-envelope-open-text {
    color: #fff;
    font-size: 30px;
    line-height: 80px;
}

.fa-rocket,
.fa-warehouse,
.fa-shipping-fast,
.fa-clipboard-list,
.fa-dolly-flatbed,
.fa-envelope-open-text {
    line-height: 100px;
}

/* ########################
            NAV
########################## */
.nav {
    padding: 45px 0;
    background-color: #15263e;
}

/* .nav__list {
    display: flex;
    justify-content: space-around;
} */

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: .5px;
    /* chwilowo wylaczone */
    display: none;
}

.fa-caret-down {
    color: #fff;
    margin-left: 15px;
}

/* ########################
            HEADER
########################## */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.header__wrap {
    text-transform: uppercase;
    width: 90%;
}

.header {
    background: url(../images/bg_home.jpg) no-repeat center;
    background-size: cover;
    height: 75vh;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__hello {
    font-size: 2rem;
    padding-bottom: 10px;
}

.header__name {
    font-size: 8rem;
    line-height: 80%;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header__surname {
    font-size: 6.4rem;
    letter-spacing: 6px;
}

.header__text {
    padding: 20px 0 40px;
    font-size: 1.2rem;
}

@media (orientation: landscape) and (max-width: 900px) {
    .header {
        height: 140vh;
    }

    .header__name {
        font-size: 10rem;
    }

    .header__surname {
        font-size: 8.2rem;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    .header {
        height: 60vh;
    }
}


@media (min-width: 640px) {
    .header__name {
        font-size: 12rem;
    }

    .header__surname {
        font-size: 10rem;
    }

    .header__hello {
        font-size: 3rem;
    }

    .header__text {
        padding: 10px 0 40px;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {

    .header__name {
        font-size: 14rem;
    }

    .header__surname {
        font-size: 12rem;
    }

    .header__text {
        font-size: 1.7rem;
    }
}


@media (min-width: 1366px) {

    .header__name {
        font-size: 20rem;
    }

    .header__surname {
        font-size: 17rem;
    }

    .header__hello {
        font-size: 3.5rem;
    }

    .header__text {
        font-size: 2.5rem;
    }
}

/* ########################
            ABOUT
########################## */
.wrap--about {
    width: 90%;
    padding: 60px 2% 40px;
}

.about-person {
    text-align: right;
    padding-bottom: 40px;
}

.about-stats {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #4d4d4d;
}

.about-stats__progress {
    width: 0;
    height: 10px;
    margin: 15px 0 35px;
    border-radius: 20px;
}

.xs-text--about {
    padding-top: 40px;
}

@media (min-width: 640px) {
    .wrap--about {
        width: 100%;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-person,
    .about-stats {
        width: 45%;
    }
}

@media (min-width: 768px) {

    .about-person,
    .about-stats {
        width: 47%;
    }
}

@media (min-width: 1024px) {

    .about-person,
    .about-stats {
        width: 46%;
    }
}

@media (min-width: 1200px) {
    .about {
        padding: 80px 0;
        background: url(../images/about_person.png) no-repeat center;
    }

    .about-stats {
        padding-left: 30px;
    }

    .about-person,
    .about-stats {
        width: 28%;
    }
}

/* ########################
        SMALL FOOTER
########################## */
.small-footer {
    background-color: #dcdcde;
    padding: 40px 0;
    text-align: center;
}

.small-footer__parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-footer__box {
    width: 60%;
    padding: 20px 0;
}

.small-footer__icon {
    background-color: #374362;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.small-text--gap {
    line-height: 130%;
}

@media (min-width: 640px) {
    .small-footer__parent {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .small-footer__box {
        flex-basis: 50%;
    }
}

@media (min-width: 768px) {
    .small-footer__box {
        flex: 1 1 33%;
    }
}

@media (min-width: 1366px) {
    .small-footer__icon {
        margin: 0 25px 0 0;
        text-align: center;
    }

    .small-footer__box {
        display: flex;
        align-items: center;
        text-align: left;
    }
}

/* ########################
        SERVICES
########################## */
.services {
    padding: 60px 0 80px;
    text-align: center;
}

.services__boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.services__box {
    width: 90%;
    padding-top: 40px;
}

.services__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.small-text--services {
    width: 80%;
    margin: 0 auto;
    line-height: 140%;
}

@media (min-width: 640px) {
    .services__boxes {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }

    .services__box {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    .services {
        padding: 90px 0 140px;
    }
}

@media (min-width: 1200px) {
    .services__box {
        width: 30%;
    }

    .services__boxes {
        justify-content: space-between;
    }
}

/* ########################
        TESTIMONIALS
########################## */
.testimonials {
    padding: 60px 0 100px;
    background: url(../images/testimonials_bg.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.testimonials__box {
    width: 90%;
    margin: 40px auto 0;
}

.testimonials__quotes {
    position: relative;
    margin-bottom: 40px;
}

.testimonials__bottom,
.testimonials__top {
    position: absolute;
    font-size: 50px;
    line-height: 0;
}

.testimonials__top {
    transform: rotate(180deg);
    top: 15px;
    left: -5%;
}

.testimonials__bottom {
    bottom: 15px;
    right: -5%;
}

.testimonials__person {
    display: flex;
    justify-content: center;
}

.testimonials__photo {
    width: 80%;
}

.testimonials__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading--xl--testimonials {
    color: #fff;
    padding-bottom: 0;
    letter-spacing: 1.4px;
}

@media (min-width: 1024px) {
    .testimonials {
        padding: 130px 2% 190px;
    }

    .testimonials__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .testimonials__quotes {
        flex: 0 1 52%;
        padding-bottom: 0;
    }

    .testimonials__person {
        flex-basis: 40%;
        justify-content: space-evenly;
    }

    .testimonials__photo {
        width: 100%;
    }

    .testimonials__box {
        width: 100%;
        padding-top: 90px;
    }
}

/* ########################
    GLOBAL MEDIA QUERIES
########################## */

@media (min-width: 640px) {
    .btn {
        padding: 20px;
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .heading--xl {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {

    .heading--large {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    .wrap {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1366px) {
    .heading--xs {
        padding-top: 0;
    }
}